@import "../abstracts/variables";



.storage-container {
  margin-top: 4rem;
}

.storage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem;
  padding-bottom: 103px;
  position: relative;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  gap: 2.4rem;
}

.heading-one {
  font-family: "Rubik-Bold";
  font-size: 2.8rem;
  color: $color-white;

  user-select: none;
}

.category-filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2.8rem;
  padding: 2rem;
  border-right: none;
  border-left: none;
}

.category-filterfalse {
  padding: 0.8rem 1.6rem;
  background-color: $color-darkest;
  color: $color-white;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
  user-select: none;
}

.category-filter_active {
  padding: 0.8rem 1.6rem;
  background-color: $color-blue;
  color: $color-white;
  border-radius: 0.4rem;
  text-transform: capitalize;
  cursor: pointer;
  user-select: none;
}

.toolbar {
  padding: 0.4rem;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(
    to left,
    rgba($color-accent, 0.2),
    rgba($color-accent, 0.2)
  );
  border-radius: 0.4rem;
  margin-top: 0.4rem;
  display: none;
}

.post {
  width: 100vw;
  margin-bottom: 0.2rem;
  border-bottom: 2px dotted rgba($color-blue, 0.3);
  padding-bottom: 1.5rem;
  background-color: $color-darkest;
  box-shadow: 0 0.3rem 0.6rem rgba($color-black, 0.065);
  position: relative;
  color: $color-white;
}

.post-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 0.4rem 0.8rem 0.4rem;
}

.delete-button {
  position: absolute;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  top: .2rem;
  right: .2rem;
  border-radius: 0.2rem;
  border: 1px solid rgba($color-lavender, 0.12);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-category-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  gap: 0.4rem;
}

.post-category {
  font-weight: 500;
  font-size: 1.4rem;
  margin-right: 0.25rem;
  padding: 0rem 1rem;
  margin: 0.4rem 0rem;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.035);
  background-color: rgba($color-blue, 0.6);
  color: $color-light;
  border-radius: 4px;
  text-transform: capitalize;
  user-select: none;
  cursor: auto;

  &:hover {
    transform: translateY(-1px);
  }
}

.post-source {
  margin-left: 0.8rem;
  color: $color-light;
  text-decoration: underline;
  cursor: pointer;
}

.date {
  font-size: 1.4rem;
  color: #c3c8ec;
}

.note {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  width: calc(100% - 3.4rem);
}

.manage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  backdrop-filter: blur(2px);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}

.manage.notes {
  backdrop-filter: blur(0px);
  
}

.add-new {
  & img {
    height: 10rem;
    margin:1rem;
  }
}

.manage-tags.storage-version {
  height: 4.8rem;
  width: 4.8rem;
}

.manage-tags-active.storage-version {
  height: 4.8rem;
  width: 4.8rem;
}

.overlay-confirm {
  position: absolute;
  background-color: $color-black;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.comment-icon {
  position: absolute;
  right: 0.4rem;
  bottom: 0.4rem;
}

@media screen and (min-width: 700px) {
    .storage-wrapper {
  
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
  .storage-container {
    padding-top: 3.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60vw;
  }

  .post {
    width: 100%;
  }

  .manage {
    justify-content: center;
    
  }
}

@media screen and (min-width: 1200px) {
  .storage-container {
    width: 40vw;
  }

  .post {
    width: 90%;
  }

  .head {
    justify-content: flex-start;
  }

  .manage-tags {
    cursor: pointer;
  }
  .manage-tags-active {
    cursor: pointer;
  }

  .manage {
    justify-content: flex-end;
    margin: 2.4rem;
    backdrop-filter: none;
    
  }
}
