@import "./Home.scss";

.row4 {
  
  margin-top: 3.2rem;
  
  
}
.category-tag-container {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin: 2rem 0rem;
  flex-wrap: wrap;
  
}

.inner {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 
  7px 7px 5px rgba(0,0,0,.04),
  -7px -7px 5px rgba(255,255,255,.8);
  border: 2px solid rgb(235,235,235);
  display: flex;
  flex-direction: row;
  
}

.inner:hover {
  background-color: $color-white;
}

input[type=checkbox] {
  display: none;
  pointer-events: none;

  & + label {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 3fr;


    svg {
      width: 2.4rem;
      stroke: #4B4A67;
      stroke-width: 1rem;
      fill: white;
      margin-right: 1rem;
      margin-top: .25rem;

      .box {
        stroke-dasharray: 320;
        stroke-dashoffset: 0;
        stroke-width: 1.6rem;
        fill: white;
        transition: .3s;
      }
      .check {
        stroke-dasharray: 360;
        stroke-dashoffset: 360; // 0 toob esile
        fill: rgb(0,124,226);
        opacity: 0;
        transition: .3s;
      }
    }

    span {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  &:checked + label {
    .box {
      stroke-dashoffset: 0;
      transition: stroke-dashoffset .3s linear;
    }
    .check {
      stroke-dashoffset: 360;
      transition: stroke-dashoffset .3s linear;
      fill: #8884FF;
      opacity: 1;
    }
  }
}

.add-new-tag {
  font-weight: 500;
  color: $color-dark-grey;
  margin-right: 1rem;
}

.tag-input {
  width: 70%;
  height: 3rem;
  font-family: "Roboto mono";
  justify-content: center;
  
  border-color: transparent;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 
  7px 7px 5px rgba(0,0,0,.04),
  -7px -7px 5px rgba(255,255,255,.8);
  border: 2px solid rgb(235,235,235);
  z-index: 1;
}

.tag-input:focus {
  outline: none;
  z-index: 3;
  border: 2.2px solid rgb(235,235,235);
  
}

.button-delete-tag {
  background: transparent;
  border: none;
  margin-top:  1.6rem;
}

.button-delete-tag:hover {
  background: transparent;
  transform: translateY(-.1rem);
}


.button-add-tag {
  padding: .25rem;
  border-radius: 1rem;
  background-color:#e3e3e8;
  box-shadow: 
  7px 7px 6px rgba(0,0,0,.04),
  0px -7px 5px rgba(255,255,255,.8);
  border: 2px solid rgb(235,235,235);
  z-index: 2;
  margin-left: -.1rem;
  cursor: pointer;
}

.tag-generator {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.manage-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.manage-tags-active {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(197, 232, 155);
    border-radius: 4px;

    
}


.wrapper {
  display: inline-flex;
  
  margin-bottom: 2rem;
  
}

.wrapper .icon {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  cursor: pointer;
  
  padding: .8rem 1.2rem;
  border-radius: 1.2rem;
}

.wrapper .icon span {
  position: relative;
  display: block;
  border-radius: 3rem;
  z-index: 2;
  text-align: center;

}

.wrapper .icon span svg {
  line-height: 5rem;
}

.category-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    gap: 2rem;
    
    font-size: 3.2rem; 
    margin-bottom: 2rem;
    font-weight: 600;
    margin-left: 1rem;
}

.end-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

@media screen and (max-width: 640px) {
  .category-heading {
    font-size: 2.4rem;
    font-weight: 400;
  }

  .category-tags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  
  }

  .inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner span {
    font-size: 1.4rem;
  }

  .category-tag-container {
    width: 90vw;
    flex-direction: column;
  }

  .wrapper {
    margin-bottom: 0;
  }

  h1 {
    font-weight: 500;
    font-size: 2.4rem;
}
}