@import "./Home.scss";

.row4 {
  height: 100vh;
  position: relative
}
.category-tag-container {
  
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  
}

.category-tags {
  margin: 2rem;
  margin-bottom: 4rem;
}

.inner {
  padding: 1rem 1rem .5rem 1rem;
  border-radius: .3rem;
  box-shadow: 
  7px 7px 5px rgba(0,0,0,.04),
  -7px -7px 5px rgba(255,255,255,.8);
  border: 2px solid rgb(235,235,235);
}

input[type=checkbox] {
  display: none;
  pointer-events: none;

  & + label {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 3fr;

    svg {
      width: 2.4rem;
      stroke: rgb(0,124,226);
      stroke-width: 4px;
      fill: white;
      margin-right: .5rem;

      .box {
        stroke-dasharray: 320;
        stroke-dashoffset: 0;
        stroke-width: 6px;
        fill: white;
        transition: .3s;
      }
      .check {
        stroke-dasharray: 360;
        stroke-dashoffset: 360; // 0 toob esile
        fill: rgb(0,124,226);
        opacity: 0;
        transition: .3s;
      }
    }

    span {
      font-family: "roboto mono";
    }
  }

  &:checked + label {
    .box {
      stroke-dashoffset: 0;
      transition: stroke-dashoffset .3s linear;
    }
    .check {
      stroke-dashoffset: 0;
      transition: stroke-dashoffset .3s linear;
      fill: rgb(0,124,226);
      opacity: 1;
    }
  }
}

.button-delete-tag {
  display: none;
}

.add-new-tag {
  font-weight: 500;
  color: $color-dark-grey;
  margin-right: 1rem;
}

.tag-input {
  border-color: $color-light-grey;
  height: 3.2rem;
  border-width: 2px;
  border-radius: 4px 0 0 4px;
  border-style: solid;
}

.tag-input:focus {
  outline: none;
  border-color: $color-beige;
}

.button-add-tag {
  height: 3.2rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0;
  border-radius: 0px 4px 4px 0px;
  background-color: $color-light-grey;
  color: $color-white;
  cursor: pointer;
}

.button-add-tag:hover {
  color: $color-light-grey;
  box-shadow: .15rem .15rem .05rem rgba(0, 0, 0, 0.1);
  
}

.button-add-tag:active {
  
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
}

