@import "./Home.scss";

.row4 {
  
  margin-top: 3.2rem;
  
  
}
.category-tag-container {
    position: relative;
    
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  margin: 0rem 0rem;
  flex-wrap: wrap;
  
}

.category-tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 0rem 1rem;
  
  }

.inner {
  padding: .5rem 1rem;
  border-radius: 1rem;
  box-shadow: 
  7px 7px 5px rgba(0,0,0,.04);
  border: 2px solid rgb(215, 215, 215);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  
}

input[type=checkbox] {
  display: none;
  pointer-events: none;


  & + label {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 3fr;


    svg {
      width: 2rem;
      stroke: #4B4A67;
      stroke-width: 1rem;
      fill: white;
      margin-right: 1rem;
      

      .box {
        stroke-dasharray: 320;
        stroke-dashoffset: 0;
        stroke-width: 1.6rem;
        fill: white;
        transition: .3s;
      }
      .check {
        stroke-dasharray: 360;
        stroke-dashoffset: 360; // 0 toob esile
        fill: rgb(0,124,226);
        opacity: 0;
        transition: .3s;
      }
    }

    span {
      font-family: "Poppins", sans-serif;
      font-size: 1.3rem;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  &:checked + label {
    .box {
      stroke-dashoffset: 0;
      transition: stroke-dashoffset .3s linear;
    }
    .check {
      stroke-dashoffset: 360;
      transition: stroke-dashoffset .3s linear;
      fill: #7C0B2B;
      opacity: 1;
    }
  }
}


.tag-input {
  width: 80%;
  height: 4.8rem;
  font-family: "Roboto mono";
  justify-content: center;
  
  border-color: transparent;
  padding: 1rem 2rem;
  border-radius: .4rem 0rem 0rem .4rem;
  box-shadow: 
  7px 7px 5px rgba(0,0,0,.04);
  border: 2px solid rgb(235,235,235);

  &::placeholder {
    color: $color-black;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.tag-input:focus {
  outline: none;
  z-index: 1;
  border: 2.2px solid rgb(235,235,235);
  
}

.button-delete-tag {
  background: transparent;
  border: none;
  margin-top:  .2rem;
}

.delete-tag-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-delete-tag:hover {
  background: transparent;
  transform: translateY(-.1rem);
}


.button-add-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
  padding: 1.5rem 1.5rem;
  border-radius: 0rem .6rem .6rem 0rem;
  fill: #fff;
  background-color: #0d18212d;
  box-shadow: 
  7px 7px 6px rgba(0,0,0,.04),
  -3px -3px 6px rgba(0,0,0,.04);
  border: 1px solid (rgba($color-light-grey, .1));
  
  z-index: 2;
  
  cursor: pointer;
}

.tag-generator {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100vw;
    height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  

}

.generator-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.manage-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: (rgba($color-light-grey, .15));
    border-radius: 4px;
}

.manage-tags-active {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: (rgba($color-light-grey, .35));
    border-radius: 4px;
}


.wrapper {
  display: inline-flex;
  gap: .5rem;
  margin-bottom: 0rem;
  
}

.wrapper .icon {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  cursor: pointer;
  
  padding: .8rem 1.2rem;
  border-radius: 1.2rem;


    & span {
        position: relative;
        display: block;
        border-radius: 3rem;
        z-index: 2;
        text-align: center;

    }
}

.wrapper .icon span svg {
  line-height: 5rem;
}

.category-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    gap: 2rem;
    margin: 1.6rem .4rem;
    font-size: 2rem;
    font-weight: 500;

}



.button-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @media screen and (min-width: 700px) {
    
  }