$color-black: #232526; 
$color-white: #FFFBF8;
$color-beige: #F6CDBC;
$color-dark-grey: #34393b;
$color-light-grey: #919A9E;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }


body {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-dark-grey;
}

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom, #f6cfbe, hsla(332, 18%, 63%, 0.6), hsla(203, 28%, 62%, 0.45), hsla(203, 69%, 84%, 0.511) );
    background-size: cover;
    background-position: top;
    padding: 2rem;
    
}

.hero-header-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-header {
    color: $color-black;
    margin-bottom: 1rem;
}

.hero-header-main {
    display: block;
    font-size: 5.6rem;
    font-weight: 600;
    letter-spacing: 0.4rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    
}

.hero-header-sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: .2rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.hero-logo {
    display: inline-block;
}

.hero-logo:hover {
    animation-name: logoHover;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(8rem)
    }

    80% {
        transform: translateX(-.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes logoHover {
    0% {
        opacity: 60%;
    }
    
    100% {
        opacity: 120%;
    }
}

.button:link,
.button:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 1.4rem;
    border-radius: 1.2rem;
    transition: all .1s;
}

.button:hover {
    transform: translateY(-.1rem);
    color: $color-black;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    
}

.button:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.button:focus {
    border-color: green;
    
}

.button {
    font-family: "Roboto mono", monospace;
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 500;
}








