

$color-black: #202124; 
$color-white: #FFFBF8;

$color-blue: #404ECF;
$color-baby: #D3E2FF;
$color-pink: #E0B1CB;
$color-purple: #5E548E;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: $color-white;
  }

body {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $color-black;
}

.header {
    position: relative;
    height: 100vh;
    background: #4568dc20;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #e0b1cb87, rgba(88, 131, 138, 0.125), rgba(139, 138, 202, 0.23), #D3E2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: top;
    padding: 2rem;

    // linear-gradient(to right bottom,#f6cfbed7, rgba(48, 77, 80, 0.125), #47467720, #f6cfbe85); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background: linear-gradient(to right bottom,#f6cfbed7, rgba(88, 131, 138, 0.125), rgba(139, 138, 202, 0.23), #cf8e733b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.no-header {
    display: none;
}

.hero-header-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-header {
    color: $color-black;
    margin-bottom: 1rem;
}

.hero-header-main {
    display: block;
    font-size: 5.2rem;
    font-weight: 600;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;   
}

.hero-header-sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .2rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.hero-logo {
    display: inline-block;
    position: relative;
    padding: 2rem;
}

.hero-logo:hover {
    animation-name: logoHover;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(8rem)
    }

    80% {
        transform: translateX(-.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes logoHover {
    0% {
        opacity: 60%;
    }
    
    100% {
        opacity: 120%;
    }
}

.button:link,
.button:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 1.4rem;
    border-radius: 1.2rem;
    transition: all .1s;
}

.button:hover {
    transform: translateY(-.1rem);
    color: $color-black;
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
}

.button:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
}

.button {
    font-size: 2rem;
    margin-top: 2rem;
    padding: .8rem 1.6rem;
    font-weight: 500;
    color: $color-black;
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    border-radius: .8rem;
    cursor: pointer;
}

.button-black, button-black:visited, button-black:hover, button-black:active {
    color: inherit;
  }

.hero-button {
    margin-top: 2rem;
}

@media screen and (max-width: 540px) {
    .hero-header-main {
        width: 90vw;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.3;
    }

    .hero-header-sub {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 840px) {
    .hero-header-main {
        width: 90vw;
    }
}











