.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    
}
.body{
    display: flex;
    justify-content: center;
}
.title-column {
    flex: 1 100%;
    
    justify-content: center;
 
}

.row1 {
    display: flex;
    flex-direction: row;

    gap: 2rem;
    
    
    
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    
    
}

.row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    
    
}




  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.number {
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
}

.question {
    
    font-family: "poppins", sans-serif;
    font-size: 1.4rem;
}

.submit-button {
    margin-top: 1rem;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.2rem;
    background-color: #a1a5f2;
    border-width: 0px;
    border-radius: 4px;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #FFFBF8;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.144);
    transition: 0.3s;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;

}

.submit-button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    -webkit-transform: translateY(-0.01em);
    transform: translateY(-0.03em);
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    color: #FFFBF8;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    box-shadow: 0 8px 16px 0 rgba(206, 206, 206, 0.2);
    cursor: pointer;
    
} 




.wrapper {
    margin-bottom: 42px;
    margin-top: 8px;
    margin-right: 8px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

h1.hero-header {
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    gap: 2rem;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    font-weight: 500;
    color: #232526c0;
}

.input-field {
    padding:16px;
    box-sizing: border-box;
    border-radius: 4px;
    border-color: #2827299a;
    border-width: 0.1rem;
    font-family: "Roboto Mono", monospace;
    align-content: center;
    
}
.input-field::placeholder {
    
    line-height: 20px;
}

.delete-button {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    background-color: #FFFBF8;
    position: absolute;
    bottom: 0px;
    right: 0px; 
    border-color: hsla(0, 0%, 0%, 0.792);
    border-width: 1px;
    cursor: pointer;

}

.date {
    position:absolute;
    bottom:0px;
    left:6px;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0px 4px 0px 4px;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    color: hsla(270, 2%, 16%, 0.656);

}

@media all and (max-width: 400px) {
    
    .column {
        margin-bottom: 4rem;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .row1 {
        display: flex;
        flex-direction: column;
    }
    .row2 {
        display: flex;
        flex-direction: column;
    }
    .row3 {
        display: flex;
        flex-direction: column;
    }
            
    .submit-button {
        justify-self: center;
    }
}

@media all and (max-width: 768px) {

}



