

$color-black: #2D2C2C; 
$color-white: #FFFBF8;
$color-orange: #F6CFBE;
$color-pink: #B290A0;
$color-light-blue: #BADDF2;
$color-blue: #83A4B9;
$color-dark-grey: #5E6467;
$color-light-grey: #919A9E;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }


body {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #061822;
}

.header {
    position: relative;
    height: 100vh;
    background: #4568dc20;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom,#f6cfbed7, rgba(48, 77, 80, 0.125), #47467720, #f6cfbe85); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: top;
    padding: 2rem;
    
}

.hero-header-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-header {
    color: $color-black;
    margin-bottom: 1rem;
}

.hero-header-main {
    display: block;
    font-size: 5.2rem;
    font-weight: 600;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    
}

.hero-header-sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .2rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.hero-logo {
    display: inline-block;
}

.hero-logo:hover {
    animation-name: logoHover;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(8rem)
    }

    80% {
        transform: translateX(-.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes logoHover {
    0% {
        opacity: 60%;
    }
    
    100% {
        opacity: 120%;
    }
}

.button:link,
.button:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 1.4rem;
    border-radius: 1.2rem;
    transition: all .1s;
}

.button:hover {
    transform: translateY(-.1rem);
    color: $color-black;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    
}

.button:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.button:focus {
    border-color: green;
    
}

.button {
    font-family: "Roboto mono", monospace;
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 500;
}

.button-black, button-black:visited, button-black:hover, button-black:active {
    color: inherit;
  }

  @media screen and (max-width: 640px) {

    .hero-header-box {
        
        width: 80vw;
    }
    .hero-header-main {
        
        font-size: 3.2rem;
        line-height: none;
    }
    .hero-header-sub {
        font-size: 1.6rem;
        letter-spacing: 0rem;
    }

    .button-black {
        margin-top: 4rem;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }

    .header {
        display: none;
    }

  }










