@import "./Home.scss";





.my-notes {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.link {
    text-decoration: none;
    
}

.note-date {
    display: flex;
    font-size: 2rem;
    padding-left: 2rem;
    margin-bottom: .5rem;

}

.notes-button {
    
    box-shadow: 2px 2px 6px (rgba($color-black, .2)),
    -2px -2px 2px (rgba($color-black, .1));
    display: flex;
    align-items:flex-end;
    gap: .75rem;
    font-size: 1.5rem;
    font-weight: 500;
    padding: .75rem 1rem;
    border-radius: 6px;
    
    color: $color-black;
    margin-bottom: 2rem;
    
}


.input-container {
    width: 100vw;
    padding: 2rem 1rem;
    box-shadow: none;
    border-radius: 0px;            
    display: flex;
    flex-direction: column;
    height: 40%;
    
    
}

.input-container-active {
    width: 100vw;
    padding: 2rem 1rem;
    box-shadow: none;
    border-radius: 0px;            
    display: flex;
    flex-direction: column;
    height: 40%;
    opacity: .3;

}


.input-field {
    resize: none;
    border: none;
    padding: 2rem 2rem;
    font-size: 1.6rem;
    border-radius: 1.2rem;
    background-color: rgb(255, 255, 255);
    font-family: "roboto mono", monospace;
    width: 100%;
    height: 30vh;

    &:focus {
        outline: none !important;
    }

    &::placeholder {
        font-size: 1.4rem;
        color: $color-black
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    padding: 1rem 5rem;
    height: 5rem;
    margin-top: 3rem;
    border-radius: .8rem;
    background: #F7C1C1;
    cursor: pointer;
    color: rgba(13, 24, 33, 0.848);
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    box-shadow: 0 1rem 2rem rgba(#061822, .2);
    &:hover {
        transform: translateY(-0.1rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);  
    }
}

.logo-on-button {
    width: 2.8rem;
    height: 2.8rem;
    opacity: .85;
}

.Toastify__toast--info {
    background: #181715 !important;
  }


@media screen and (min-width: 700px) {
    .input-container {
        width: 70%;
        background-color: transparent;
    }


    .input-container-active {
        width: 70%;
        background-color: transparent;
    }

    .row1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .submit-button {
        font-size: 2.2rem;
        font-weight: 600;
        gap: 1.2rem;
        
    }
}

@media screen and (min-width: 880px) {
    .input-container{
        width: 50%;
    }
    .input-container-active{
        width: 50%;
    }
}


@media screen and (min-width: 1300px) {
    .input-container {
        width: 30%;
    }

    .input-container-active {
        width: 30%;
    }
}
