@import "./Home.scss";

.storage-container {
   padding-top: 3.2rem; 
   position: relative;
}

.storage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem;
    padding-bottom: 103px;
    position: relative;
}

.heading-one {
    margin-top: 4rem;
    margin-left: 1.6rem;
    font-weight: 600;
    font-size: 2rem;
}

.category-filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4rem;
    padding: 1.6rem;
    border-right: none;
    border-left: none;
}

.category-filterfalse {
    padding: .8rem 1.6rem;
    color: $color-blue;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
}

.category-filter_active {
    padding: .8rem 1.6rem;
    background-color: $color-blue;
    color: $color-white;
    border-radius: .4rem;
    text-transform: capitalize;
    cursor: pointer;
}

.toolbar {
    padding: .4rem;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(to left, rgba($color-baby, .2), rgba($color-pink, .2));
    border-radius: .4rem;
    margin-top: .4rem;
    display: none;
    
}

.toolbar-active {
    padding: .4rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 2rem;
    background: linear-gradient(to left, rgba($color-baby, .2), rgba($color-pink, .1));
    margin-top: .4rem;
    border-radius: .4rem;
   
}

.post {
    width: 100vw;
    margin-bottom: .2rem;
    border-bottom: 2px dotted rgba($color-black, .2);
    padding-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 .3rem .6rem rgba($color-black, .065);
    position: relative;
}

.post-cloudy {
    width: 100vw;
    margin-bottom: 1rem;
    border-bottom: 2px dotted rgba($color-black, .2);
    padding-bottom: 1rem;
    background-color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .065);
    position: relative;
    opacity: .7;
}

.post-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.delete-button {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-category-container {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    gap: .4rem;
}

.post-category {
    font-weight: 500;
    margin-right: .25rem;
    padding: 0rem 1rem;
    
    margin-top: .4rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .035);
    background-color: rgba($color-pink, .22);
    color: $color-black;
    border-radius: 4px;
    text-transform: capitalize;
    user-select: none;
    cursor:auto;

    &:hover {
        transform: translateY(-1px);
    }
}

.note {
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
}

.manage {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .5rem;
    padding: .5rem;
    position: fixed;
        bottom:0;
         left:0;
         right:0;
         z-index:1000;
    
}

.add-new {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    margin: 1.2rem;
    padding: 2.4rem;
    border-radius: 18px;
    background: linear-gradient(to right top, rgba(204, 161, 237, 1), rgba(246, 211, 255, 1), $color-baby);
    box-shadow:  20px 20px 60px #bbb7ca,
             -12px -12px 120px #fdf7ff;
}

@media screen and (min-width: 700px) {
    .post {
        width: 60rem;
    }

    .storage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .manage {
        width: 60rem;
        position: relative;
        margin-top: 2rem;
    }

    .heading-one {
        text-align: center;
    }

    .category-filter-container {
        justify-content: center;
    }
}