$color-black: #090a0e;
$color-white: #f8fbff;

$color-blue: #404ecf;
$color-true: #5b77f5;
$color-accent: #adbdff;
$color-purple: #5e548e;
$color-champa: #f6c6b1;
$color-light-champa: #fff8f5;

$color-light: #c3c8ec;
$color-dark: #2d3349;
$color-darkest: #1f2527;
$color-lavender: #99a5ff;